@model MyNextComic.Web.Models.Account.AccountModel

@using (Html.BeginForm("LogIn", "Account", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	<div class="col-md-12 form-group">
		<span>@Html.LabelFor(x => x.UserName)</span><br />
		<span>@Html.TextBoxFor(x => x.UserName, new { Class = "col-md-8" })</span><br />
		<span class="text-danger">@Html.ValidationMessageFor(x => x.UserName)</span>
	</div>
	<div class="col-md-12 form-group">
		<span>@Html.LabelFor(x => x.Password)</span><br />
		<span>@Html.TextBoxFor(x => x.UserName, new { Class = "col-md-8" })</span><br />
		<span class="text-danger">@Html.ValidationMessageFor(x => x.Password)</span>
	</div>
	<div class="col-md-12 form-group">
		<button class="btn btn-primary">Ingresar</button>
	</div>
}