@model MyNextComic.Contracts.Entities.Issue

@Html.HiddenFor(x => x.Id)
<div class="col-md-4">
	<img src="@Model.Image.Original_Url.Replace('"', ' ')" alt="Model.Name">
</div>
<div class="col-md-8">
	<h3 class="comic-title-big">@Model.Name</h3>
	<div class="col-md-12">
		<div class="row">
			<span>Issue Number: </span>
			<span>@Model.Issue_Number</span>
			<span>Publish Date: </span>
			<span>@Model.Store_Date</span>
		</div>
	</div>
	<div class="row">
		<p>@Model.Description</p>
	</div>
</div>
